@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 10vh 20vh 40vh 20vh;
  }
  
  header {
    background: yellow;
    grid-column: 1/4;
    grid-row: 1;
  }

   .menu {
    display: block;
    text-align: center;
   }

   .menu li {
    display: inline-block;
    background-color: #ddd;
    margin: 30px;
    padding: 5px;;
   }
  
  nav {
    background: orange;
    grid-column: 1/2;
    grid-row: 2/9; 
  }
  
  main {
    background: rgb(255, 255, 255);
    grid-column: 2/3;
    grid-row: 2/9; 
    
  }

  main h1 p{
    text-align: center;
    text-indent: 20px;
    text-align: center;
  }

  main h2 {
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    text-indent: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
  }

  main p {
    text-indent: 20px;
    text-align: center;
  }
  
  aside {
    background: #ddd;
    grid-column: 3/4;
    grid-row: 2/9;
    
  }

  .pub1 {
    position: sticky;
    top: -1px;
    background-color: aliceblue;
    text-indent: 10px;
    margin: 5px;
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 1px 1px 3px black;
  }

  .pub1 h2 p {
    width: 10%;
   
  }

  .pub1 img {
    width: 200px;
    border: 1px solid black;
   
  } 

  .espace {
    height: 350px;
  }

  .pub2 {
    position: sticky;
    top: 500px;
    background-color: aquamarine;
    text-indent: 10px;
    margin: 5px;
    text-align: center;
    padding-bottom: 9px;
    border: 1px solid #ddd;
  }

  .pub2 h2 p {
    width: 10%;   

  }

  .pub2 img {
    width: 200px;
    border: 1px solid black;
   
  } 
  
  