@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif; 
   /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #f4d8cd, #edb183);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 1px;
}

h2 {
    color: #125189;
}

p {
   text-align: justify;
}