@charset "UTF-8";

/* Todas as demais médias */

/* typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/* IMPRESSÃO */
@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }


    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário */
        
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;

    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
    
}
    

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
    
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg); 
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
    
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}